################################# COMMON ###################################


[common]


    [common/output_saver]

    Mode = binary
    Mode_scalar = text
  
  
################################## MODEL ####################################


[shallow_water]


    [shallow_water/domain]

    # Time step.
    Delta_t = 0.03
    # Total number of iterations.
    Nt = 1500

    x_min = 0.
    y_min = 0.

    Delta_x = 1.
    Delta_y = 1.

    Nx = 100
    Ny = 1


    [shallow_water/initial_condition]

    # Value that may be taken in the center or on the left.
    Value = 1.05
    # Take 'Value' in the center?
    Center = yes
    # Take 'Value' on the left?
    Left = no


    [shallow_water/model_error]

    # Standard deviation of the white Gaussian noise on *boundary* conditions.
    Standard_deviation_bc = 0.0
    # Standard deviation of the white Gaussian noise on *initial* conditions.
    Standard_deviation_ic = 0.0

    # Newran seed directory (with "/" at the end), or "current_time" for random
    # seeds generated with current time, or a given seed number (in ]0, 1[).
    Random_seed = 0.5


    [shallow_water/error_statistics]

    # Diagonal value of "B".
    Background_error_variance = 100.
    # Decorrelation length in Balgovind formula.
    Background_error_scale = 1.

    # Not used in our case.
    Model_error_variance = 1.
    # Not used in our case.
    Model_error_scale = 1.


    [shallow_water/boundary_condition]

    # Available options:
    #   free
    #   wall
    #   flow [value]
    #   height [value]

    Left = 'flow 0.1'

    Right = free

    Bottom = wall

    Top = wall


    [shallow_water/data_assimilation] # No need to change that.

    Nt_assimilation = ${shallow_water/domain/Nt}

    Analyze_first_step = yes
    With_positivity_requirement = yes


    [shallow_water/output_saver]
    
    Variable_list = 'u v h'
    File = result/river-truth/%{name}.bin
    Mode = ${common/output_saver/Mode}
    Mode_scalar = ${common/output_saver/Mode_scalar}
    Time = 'step 10'

        
[forward]


    [forward/output_saver]

    Variable_list = 'state_forecast'
    File = result/river-truth/%{name}.%{extension}
    Mode = ${common/output_saver/Mode}
    Mode_scalar = ${common/output_saver/Mode_scalar}
 
    
    [forward/display] 

    Show_iteration = no
    Show_date = no

# Do not change these four next entries.
With_observation_perturbation = no
With_ensemble_prediction = no
With_square_root = no
With_advance_sampling = no
